<!DOCTYPE html>
<html lang="en">
<!-- HEADER GOES HERE-->
<%- include("./partials/head.ejs") %>
<body>
    <!--load top and side nav-->
    <%- include("./partials/topnav.ejs") %>
    <%- include("./partials/sidenav.ejs") %>

	<!-- slider -->
	<div class="slider">
		<div id="slider" class="carousel slide carousel-fade" data-ride="carousel">
  			<div class="carousel-inner">
    			<div class="carousel-item active">
      				<img src="images/utility/intro_image_1.jpg" class="d-block w-100">
    			</div>
    			<div class="carousel-item">
      				<img src="images/utility/intro_image_2.jpg" class="d-block w-100">
    			</div>
    			<div class="carousel-item">
      				<img src="images/utility/intro_image_3.jpg" class="d-block w-100">
    			</div>
  			</div>
  			<!-- indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#slider" data-slide-to="0" class="active"></li>
		    <li data-target="#slider" data-slide-to="1"></li>
		    <li data-target="#slider" data-slide-to="2"></li>
		  </ol>  		

		</div>
	</div> <!-- end slider -->


	<!-- featured -->
	<section class="featured-categories">
		<div class="container">
			<div class="row">
				<!-- item 1 -->
				<div class="col-md-4">
					<img src="images/utility/carbide_holsaw.jpg">
				</div>
				<!-- item 2 -->
				<div class="col-md-4">
					<img src="images/utility/bosch.jpg">
				</div>
				<!-- item 3 -->
				<div class="col-md-4">
					<img src="images/utility/husqy.png">
				</div>
			</div>
		</div>
	</section><!-- end featured-->

	<!-- on sale products -->
	<section class="on-sale">
		<div class="container">
			<!-- header-->
			<div class="title-box">
				<h2>On Sale</h2>
			</div>
			<!-- products-->
			<div class="row">

				<!-- product 1 -->
				<div class="col-md-3">
					<!-- product top -->
					<div class="product-top">
						<img src="images/display/bosch_recip.jpeg">
						<div class="overlay-right">
							<button type="button" class="btn btn-secondary" title="Quick Shop">
								<i class="fa fa-eye"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Wishlist">
								<i class="fa fa-heart-o"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Cart">
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
					</div><!-- product top end -->
					<!-- product bottom -->
					<div class="product-bottom text-center">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-half-o"></i>
							<h3>Bosch Reciprocating Saw Blades</h3>
							<a class="viewButton" href="">View</a>
							
					</div> <!-- product bottom end -->
				</div> <!-- column end -->

				<!-- product 2 -->
				<div class="col-md-3">
					<!-- product top -->
					<div class="product-top">
						<img src="images/display/freeall.jpg">
						<div class="overlay-right">
							<button type="button" class="btn btn-secondary" title="Quick Shop">
								<i class="fa fa-eye"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Wishlist">
								<i class="fa fa-heart-o"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Cart">
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
					</div><!-- product top end -->
					<!-- product bottom -->
					<div class="product-bottom text-center">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
							<h3>Free All Penetrating Oil</h3>
							<a class="viewButton" href="">View</a>
					</div> <!-- product bottom end -->
				</div> <!-- column end -->

				<!--product 3 -->
				<div class="col-md-3">
					<!-- product top -->
					<div class="product-top">
						<img src="images/display/magdrill_display.jpg">
						<div class="overlay-right">
							<button type="button" class="btn btn-secondary" title="Quick Shop">
								<i class="fa fa-eye"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Wishlist">
								<i class="fa fa-heart-o"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Cart">
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
					</div><!-- product top end -->
					<!-- product bottom -->
					<div class="product-bottom text-center">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
							<h3>HIT Magnetic Drill Press</h3>
							<a class="viewButton" href="">View</a>
					</div> <!-- product bottom end -->
				</div> <!-- column end -->

				<!-- product 4 -->
				<div class="col-md-3">
					<!-- product top -->
					<div class="product-top">
						<img src="images/display/boschgrinder_display.jpg">
						<div class="overlay-right">
							<button type="button" class="btn btn-secondary" title="Quick Shop">
								<i class="fa fa-eye"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Wishlist">
								<i class="fa fa-heart-o"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Cart">
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
					</div><!-- product top end -->
					<!-- product bottom -->
					<div class="product-bottom text-center">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-alt"></i>
							<h3>Buy a Box of Wheels Get The Tool Free</h3>
							<a class="viewButton" href="">View</a>
					</div> <!-- product bottom end -->
				</div> <!-- column end -->
				
			</div><!-- products end -->
		</div> <!-- containter end -->
	</section> <!-- on sale products end -->

	<!-- new products -->
	<section class="new-products">
		<div class="container">
			<!-- header-->
			<div class="title-box">
				<h2>New Arrivals</h2>
			</div>
			<!-- products-->
			<div class="row">

				<!-- product 1 -->
				<div class="col-md-3">
					<!-- product top -->
					<div class="product-top">
						<img src="images/display/cmtTeflon_display.jpg">
						<div class="overlay-right">
							<button type="button" class="btn btn-secondary" title="Quick Shop">
								<i class="fa fa-eye"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Wishlist">
								<i class="fa fa-heart-o"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Cart">
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
					</div><!-- product top end -->
					<!-- product bottom -->
					<div class="product-bottom text-center">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
							<h3>CMT Teflon Coated Circular Blades</h3>
							<a class="viewButton" href="">View</a>
					</div> <!-- product bottom end -->
				</div> <!-- column end -->

				<!-- product 2 -->
				<div class="col-md-3">
					<!-- product top -->
					<div class="product-top">
						<img src="images/display/bosch_combo.jpg">
						<div class="overlay-right">
							<button type="button" class="btn btn-secondary" title="Quick Shop">
								<i class="fa fa-eye"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Wishlist">
								<i class="fa fa-heart-o"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Cart">
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
					</div><!-- product top end -->
					<!-- product bottom -->
					<div class="product-bottom text-center">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
							<h3>Bosch 18vlt 4pc Cordless Tool Kit</h3>
							<a class="viewButton" href="">View</a>
					</div> <!-- product bottom end -->
				</div> <!-- column end -->

				<!--product 3 -->
				<div class="col-md-3">
					<!-- product top -->
					<div class="product-top">
						<img src="images/display/cat_display.jpg">
						<div class="overlay-right">
							<button type="button" class="btn btn-secondary" title="Quick Shop">
								<i class="fa fa-eye"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Wishlist">
								<i class="fa fa-heart-o"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Cart">
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
					</div><!-- product top end -->
					<!-- product bottom -->
					<div class="product-bottom text-center">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-0"></i>
							<h3>Metal Cutting Diamond Wheels</h3>
							<a class="viewButton" href="">View</a>
					</div> <!-- product bottom end -->
				</div> <!-- column end -->

				<!-- product 4 -->
				<div class="col-md-3">
					<!-- product top -->
					<div class="product-top">
						<img src="images/display/husqy_saw.jpg">
						<div class="overlay-right">
							<button type="button" class="btn btn-secondary" title="Quick Shop">
								<i class="fa fa-eye"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Wishlist">
								<i class="fa fa-heart-o"></i>
							</button>
							<button type="button" class="btn btn-secondary" title="Add to Cart">
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
					</div><!-- product top end -->
					<!-- product bottom -->
					<div class="product-bottom text-center">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-alt"></i>
							<h3>Husqvarna K770 Gas Powered Saw Combo</h3>
							<a class="viewButton" href="">View</a>
					</div> <!-- product bottom end -->
				</div> <!-- column end -->
			
			</div><!-- products end -->
		</div> <!-- containter end -->
	</section><!-- new products end -->

    <!-- site features-->
    <%- include("./partials/features.ejs") %>

    <!-- FOOTER GOES HERE-->
    <%- include("./partials/footer.ejs") %>

	<!--- java -->
	<script src="/app2.js"></script>
	<script src="/auth.js"></script>

</body>
</html>